.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #6398aa;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.card-view {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.card-view--loading {
  height: 75vh;
}

.card-view__loading-spinner {
  display: flex;
  position: absolute;
  margin: 0 auto;
  align-self: center;
  border-color: red;
}

.card {
  flex-basis: 100%;
  margin-top: 10px;
}

.ship-card__text {
  flex-basis: 100%;
  margin-top: 0px;
  margin-bottom: 5px;
}

.ship-card__text--left {
  flex-basis: 50%;
  text-align: left;
  padding-left: 10px;
}

.ship-card__text--right {
  flex-basis: 50%;
  text-align: right;
  padding-right: 10px;
}

.ship-card__content {
  /* border: 1px solid darkgray; */
  box-shadow: 0 0 40px rgba(0, 4, 20, 0.397);
  border-radius: 5px;
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
  height: 100%;
  transition: all .2s ease-in-out;
  background-color: white;
  color: rgba(2, 2, 44, 0.808);
}

.ship-card__content:hover {
  transform: scale(1.05);
}

.ship-card__hr {
  width: 80%;
  /* border-top: 1px solid lightgray; */
  border: none;
  color: rgb(179, 174, 174);
  background-color: rgb(179, 174, 174);
  height: 1px;
  margin-top: 0px;
  margin-bottom: 3px;
}

.ship-card__heading {
  margin-top: 10px;
  margin-bottom: 5px;
  flex-basis: 100%;
  color: rgba(3, 3, 61, 0.801);
}

.ship-card__heading--current {
  color: rgba(167, 7, 7, 0.842)
}

.ship-card__img {
  width: 100%;
}

.date-card__content {
  box-shadow: 0 0 40px rgba(0, 4, 20, 0.397);
  border-radius: 5px;
  width: 95%;
  margin: auto;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  height: 100%;
  background-color: white;
  color: rgba(2, 2, 44, 0.808);
}

.date-card__heading {
  font-size: 1.2rem;
  margin: 0px;
  flex-basis: 50%;
  padding-top: 5px;
}

.date-card__calendar {
  flex-basis: 50%;
  font-size: 1.2rem;
  margin: 0px;
}

.page-card__content {
  box-shadow: 0 0 80px rgba(0,0,0,0.55);
  border-radius: 5px;
  width: 95%;
  margin: auto;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  height: 100%;
  background-color: white;
  color: rgba(2, 2, 44, 0.808);
  transition: all 0.2s ease-in-out;
}

.page-card__button {
  background: transparent;
  width: 100%;
  border: none;
}

.page-card__content:hover {
  transform: scale(1.05);
}

.page-card__heading {
  font-size: 1.5rem;
  margin: 0px;
  flex-basis: 100%;
  padding-top: 5px;
}

.page-card__ellipsis {
  font-size: 2.8rem;
  margin: 0px;
  flex-basis: 100%;
  padding-top: 5px;
}

.page-card__calendar {
  font-size: 5rem;
  margin: 0px;
}

@media(min-width: 500px) {

  .card-view {
    width: 95%;
  }

  .card {
    flex-basis: 50%;
    margin-top: 20px;
  }

  .date-card__heading {
    font-size: 2.2rem;
    margin: 0px;
    flex-basis: 100%;
    padding-top: 5px;
  }
  
  .date-card__calendar {
    flex-basis: 100%;
    font-size: 5rem;
    margin: 0px;
  }

}

@media(min-width: 768px) {

  .card-view {
    width: 90%;
  }

  .card {
    flex-basis: 33.333%;
    margin-top: 20px;
  }

}

@media(min-width: 1300px) {

  .card-view {
    width: 85%;
  }

  .card {
    flex-basis: 25%;
    margin-top: 20px;
  }

}

@media(min-width: 1800px) {

  .card-view {
    width: 80%;
  }

  .card {
    flex-basis: 20%;
    margin-top: 20px;
  }

}
